.root {
    display: "flex";
    wrap: none;
    /* wrap: "nowrap"; */
    justify-content: "space-around";
    overflow: "hidden";
    margin-top: 0;
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}
.root::-webkit-scrollbar {
display: none; /* Chrome, Safari, Opera */
}

.gridList {
    flex-wrap:nowrap;
    /* flexWrap: "nowrap"; */
    padding: 20;
    Background-color: "#F2EDE7";
}