.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @font-face {
  font-family: 'KoPubWorld';
  font-style: normal;
  font-weight: 100;
  src: url(./styles/fonts/KoPubWorld-Dotum-Light.ttf) format('truetype')
}

@font-face {
  font-family: 'KoPubWorld';
  font-style: normal;
  font-weight: normal;
  src: url(./styles/fonts/KoPubWorld-Dotum-Medium.ttf) format('truetype')
}

@font-face {
  font-family: 'KoPubWorld';
  font-style: normal;
  font-weight: bold;
  src: url(./styles/fonts/KoPubWorld-Dotum-Bold.ttf) format('truetype')
}

@font-face {
  font-family: 'Munhwajae';
  font-style: normal;
  font-weight: normal;
  src: url./styles/fonts/munhwajae-regular.ttf) format('truetype')
}

@font-face {
  font-family: 'Munhwajae';
  font-style: normal;
  font-weight: bold;
  src: url(./styles/fonts/munhwajae-bold.ttf) format('truetype')
}

@font-face {
  font-family: 'Jeju';
  font-style: normal;
  font-weight: normal;
  src: url(./styles/fonts/JejuGothicOTF.otf) format('truetype')
} */